.contentarea {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity .5s;
  background-color: #000;
  opacity: 1;
  z-index: 0;

  &.expanded {
    opacity: .5;
    pointer-events: none;
  }

  .topnav {
    position: relative;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 14px 26px 25px;

    .burger {
      display: inline-block;
      position: absolute;
      font-size: 26px;
      top: 18px;
      right: 22px;
      cursor: pointer;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }

    .header {
      display: inline-block; 
      position: absolute;
      top: 22px;
      left: 28px;
      
      .logo {
        height: 32px;
      }

      .left {
        float: left;
      }
    }
  }

  .content {
    padding: 0 30px 15px 30px;
    color: white;
  }
}
