@font-face { 
  font-family: 'daimler_cacregular';
  src: url("/fonts/daimlercac-regular-webfont.eot");
  src: url("/fonts/daimlercac-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/daimlercac-regular-webfont.woff2") format("woff2"), url("/fonts/daimlercac-regular-webfont.woff") format("woff"), url("/fonts/daimlercac-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'Daimler CS';
  src: url("/fonts/daimlercslight.eot");
  src: url("/fonts/daimlercslight.eot?#iefix") format("embedded-opentype"), url("/fonts/daimlercslight.woff") format("woff"), url("/fonts/daimlercslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html, body {
  background-color: black;
  font-family: 'Daimler CS';
  margin: 0;
  height: 100%;
}

h1 {
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
}

#warning-message { 
  display:none;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap
}

#root { display:block; }
/*
@media only screen and (orientation:portrait) and (max-width: 767px) {
    #root { display:block; }
    #warning-message { display:none; }
}
*/