.nav {
  position: fixed;
  height: 100%;
  width: 30%;
  background-color: #eee;
  color: #000;
  right: -60%;
  top: 0;
  bottom: 0;
  transition: right .5s;
  z-index: 1;

  &.expanded {
    right: 0;
  }

  .topnav {
    position: relative;
    background-color: #eee;
    color: #000;
    text-align: center;
    padding: 20px 14px 20px 25px;

    .burger {
      display: inline-block;
      position: absolute;
      font-size: 26px;
      top: 18px;
      right: 22px;
      cursor: pointer;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
    }

    .header {
      display: inline-block; 
      width: 100%;
      
      .header-logo {
        height: 40px;
      }

      .right {
        float: right;
        margin-right: 50px;
      }
    }
  }

  .menu {
    ul {
      list-style-type: none;
      padding: 0 10px;
      margin-top: 10px;
      transition: opacity 1s;
      
      a {
        text-decoration: none;
        text-transform: uppercase;

        &:first-of-type {
          li {
            border-top: 1px solid #333;
          }
        }
      }

      li {
        border-bottom: 1px solid #333;
        display: block;
        width: 100%;
        padding: 5px 0px;
        cursor: pointer;
        white-space: nowrap;
        text-align: center;
        color: #000;
        
        &:hover {
          background-color: #505050;
          color: #fff;
        }
      }
    }
  }
}
